/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$white-font: #ffffff;
$primary-color: #0e2f53;
body {
  max-width: 1280px;
  margin: 25px auto 0px;
  font-family: Montserrat;
  font-weight: 400;
  background: #fff;
}
body * {
  margin: 0px;
}
h2, a {
  font-family: Montserrat;
}
a {
  text-decoration: none;
  display: inline-block;
}
a:hover {
  cursor: pointer;
}
h1, h2, .section_title {
  font-weight: 600;
  letter-spacing: 2px;
}
h3, h4 {
  font-weight: 500;
  letter-spacing: 1px;
}
h2 {
  font-size: 20px;
}
div {
  box-sizing: border-box;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix::after, #container::after {
    content: "";
    clear: both;
    display: table;
}
.section_title {
  color: $white-font;
  text-align: center;
  text-transform: uppercase;
}
a.link_btn {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #abc4d6;
  border: 2px solid #abc4d6;
  border-radius: 6px;
  text-transform: uppercase;
  text-decoration: none;
  min-width: 145px;
  box-sizing: border-box;
  display: inline-block;
  padding: 11px 20px;
  text-align: center;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
a.link_btn:hover {
  border: 2px solid #abc4d6;
  color: #111f2a;
  background-color: #abc4d6;
}
.col {
  float: left;
}
.modal {
  display: none;
}
.table {
  display: table;
  width: 100%;
}
.cell {
  display: table-cell;
}
/* modal styles */
.plainmodal-overlay {

}
.modal {
  background: #f5f2e7;
  max-width: 1202px;
  max-height: 692px;
  padding: 30px 54px;
  border-radius: 6px;
  .modal_header {
    text-align: center;
    margin-bottom: 40px;
  }
  .modal_title {
    color: #1a1a1a;
    margin-bottom: 24px;
  }
  .modal_body {
    max-height: 550px;
    float: left;
    overflow: hidden;
  }
  .modal_text {
    font-family: Lora;
    font-size: 15px;
    color: #1a1a1a;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  .close {
    background: url(asset_path('close.png')) no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
  }
}
/* end of modal styles */

.dropdown {
  .chosen-select {
    opacity: 0;
  }
  .chosen-container .chosen-results li.disabled-result {
    display: none;
  }
  .chosen-container-single .chosen-single {
    background: #172b3c;
    color: #fff;
    height: 34px;
    line-height: 32px;
    text-align: left;
    border: 1px solid #172b3c;
    box-shadow: none;
  }
  .chosen-container .chosen-results {
    color: #fff;
    padding: 0px;
    margin: 0px;
  }
  .chosen-container-single .chosen-drop {
    background: #28455c;
    border: 1px solid #5e7689;
  }
  .chosen-container-active.chosen-with-drop .chosen-single {
    border: 1px solid #5e7689;
  }
  .chosen-container .chosen-results li.active-result {
    border-bottom: 1px solid #5e7689;
  }
  .chosen-container .chosen-results li.active-result:last-child {
    border-bottom: none;
  }
  .chosen-container .chosen-results li.highlighted {
    color: #111f2a;
    font-weight: 600;
    background: #d7edff;
    background: -moz-linear-gradient(top, #d7edff 0%, #afc8db 100%);
    background: -webkit-linear-gradient(top, #d7edff 0%,#afc8db 100%);
    background: linear-gradient(to bottom, #d7edff 0%,#afc8db 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7edff', endColorstr='#afc8db',GradientType=0 );
  }
  .chosen-container .chosen-results li {
    padding: 9px 6px 9px;
  }
  .chosen-container-single .chosen-single div b {
    background: url(down_arrow.png) no-repeat 0 14px;
  }
  .chosen-container-active.chosen-with-drop .chosen-single div b {
    background: url(up_arrow.png) no-repeat 0 14px;
  }
  .chosen-container-single .chosen-single div {
    width: 20px;
  }
}
