// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$white-font: #ffffff;
.home {
  .col1 {
    max-width: 525px;
    width: 41.015625%;
    float: left;
  }
  .col2 {
    max-width: 748px;
    width: 58.4375%;
    float: right;
  }
  .about_us {
    text-align: center;
    background: url(asset_path('aboutus_bg.jpg')) no-repeat;
    background-size: cover;
    padding: 25px 44px 30px;
    height: 400px;
  }
  .au_header {
    margin-bottom: 29px;
  }
  .logo, .medallion {
    display: inline-block;
    padding: 0px 20px;
    vertical-align: middle;
  }
  .au_title {
    color: #75acd8;
    padding-bottom: 14px;
  }
  .au_description {
    color: #abc4d6;
    font-family: Lora;
    font-size: 15px;
    line-height: 1.76em;
    margin-bottom: 24px;
  }
  .upcoming_events {
    background-color: #f5f1e6;
    padding: 34px 50px 10px 54px;
    height: 300px;
  }
  .ue_title {
    color: #00325b;
    padding-bottom: 26px;
  }
  .event_row {
    margin-bottom: 8px;
  }
  .event_title {
    font-family: Lora;
    font-weight: 400;
    color: #9b243c;
    padding-bottom: 6px;
    letter-spacing: -0.4px;
    line-height: 1.68em;
  }
  .event_date {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 11px;
    text-transform: uppercase;
    color: #1a1a1a;
    letter-spacing: 1px;
    padding-bottom: 6px;
  }
  .footer_sponsor {
    background: url(asset_path('sponsor_bg.jpg')) no-repeat;
    background-size: cover;
    text-align: center;
    padding: 24px 0px 24px;
    height: 100px;
  }
  .sponsored_by {
    font-family: Lora;
    font-style: italic;
    font-size: 16px;
    font-weight: 400;
    color: #90cdff;
    padding-bottom: 8px;
  }
  .sponsor {
    font-family: Lora;
    font-size: 18px;
    color: $white-font;
    font-weight: 400;
  }
  .scholar_stories {
    background: url(asset_path('scholar_stories.jpg')) no-repeat;
    background-size: cover;
    padding: 45px 40px;
    margin-bottom: 8px;
    height: 314px;
  }
  .ss_title {
    padding-bottom: 48px;
  }
  .ss_content {
    padding: 0px 52px;
  }
  .ss_subtitle {
    font-family: Montserrat;
    font-size: 11px;
    text-transform: uppercase;
    color: $white-font;
    padding-bottom: 10px;
  }
  .ss_description {
    font-family: Lora;
    font-size: 13px;
    color: $white-font;
    max-width: 216px;
    line-height: 1.68em;
    max-height: 120px;
    overflow: hidden;
  }
  .testimonials {
    background-color: #b32d40;
    background: #b32d40;
    background: -moz-linear-gradient(top, #b32d40 0%, #8a0619 100%);
    background: -webkit-linear-gradient(top, #b32d40 0%,#8a0619 100%);
    background: linear-gradient(to bottom, #b32d40 0%,#8a0619 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b32d40', endColorstr='#8a0619',GradientType=0 );
    padding: 40px 30px;
    margin-bottom: 7px;
    height: 168px;
  }
  .testimonials_wrap {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .tm_mark {
    font-family: Lora;
    font-style: italic;
    font-size: 60px;
    color: $white-font;
    width: 42px;
    float: left;
    display: inline-block;
    margin-top: -10px;
  }
  .tm_content {
    overflow: hidden;
    position: relative;
    padding-left: 24px;
  }
  .tm_content:before {
    content: " ";
    background: $white-font;
    position: absolute;
    top: 10px;
    left: 0;
    height: 90%;
    width: 1px;
  }
  .tm_description {
    font-family: Lora;
    font-style: italic;
    font-size: 20px;
    font-weight: 300;
    color: $white-font;
    line-height: 1.68em;
    padding-bottom: 7px;
    letter-spacing: 0px;
  }
  .tm_by {
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 500;
    color: #f4f4f4;
    text-transform: uppercase;
  }
  .explore_map {
    background: url(asset_path('explore_map.jpg')) no-repeat;
    background-size: cover;
    text-align: center;
    padding: 84px 50px;
    height: 304px;
  }
  .em_title {
    padding-bottom: 60px;
  }
  .em_link_usa {
    margin-right: 20px;
  }
}

#aboutus_modal {
  .modal_header {
    margin-top: 20px;
  }
  .logo, .medallion {
    display: inline-block;
  }
  .logo {
    margin-right: 40px;
  }
  .scrollbar-outer {
    max-height: 436px;
    overflow: hidden;
  }
  .col1 {
    width: 34%;
    float: left;
  }
  .col2 {
    width: 34%;
    float: left;
  }
  .col3 {
    width: 32%;
    float: left;
  }
  .stats {
    border-radius: 5px;
    background: #efebdc;
    padding: 20px 0px;
    margin: 0px 25px;
    margin-top: 50px;
    .s_row {
      padding: 34px 20px;
    }
    .icon_wrap {
      float: left;
      width: 90px;
      text-align: center;
      padding-left: 20px;
    }
    .numbers_wrap {
      overflow: hidden;
      text-align: center;
      padding-left: 42px;
    }
    .number {
      padding-bottom: 8px;
      font-family: Lora;
      font-size: 30px;
    }
    .text {
      font-size: 11px;
      color: #000;
      font-weight: 500;
    }
    .line {
      height: 1px;
      width: 85%;
      margin: 0 auto;
      background: #00325b;
    }
    .members_row .number {
      color: #02a1ce;
    }
    .scholars_row .number {
      color: #cf0435;
    }
    .scholarships_row .number {
      color: #23b03a;
    }

  }
}
