.dropdown.dd_style1 {
  font-family: Montserrat;
  letter-spacing: 0px;
  font-weight: 300;
  font-size: 15px;
  color: #abc4d6;
  .chosen-container-single .chosen-single {
    background: #152532;
    border: 1px solid #698295;
    outline: none;
    padding: 0px;
    box-shadow: inset 0px 0px 6px 1px rgba(105, 130, 149, 0.5);
    height: 46px;
    line-height: 44px;
    border-radius: 0px;
    font-weight: 300;
    font-size: 15px;
    color: #abc4d6;
    padding-left: 40px;
  }
  .chosen-container-single .chosen-single:before {
    content: "";
    position: absolute;
    width: 13px;
    height: 14px;
    top: 15px;
    left: 12px;
    background: url(asset_path('search_icon.png')) no-repeat;
  }
  .chosen-container-single .chosen-single div {
    right: 6px;
  }
  .chosen-container .chosen-results li.active-result {
    padding: 17px 20px 16px 40px;
  }
  .chosen-container-single .chosen-drop {
    background: #152532;
    border-radius: 0px;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 2px;
  }
}

.dropdown.dd_style2, .dropdown.dd_style3 {
  font-family: Montserrat;
  font-size: 13px;
  letter-spacing: 1px;
  text-align: center;
  .chosen-container-single .chosen-single {
    text-align: center;
  }
}
.dropdown.dd_style3 {
  text-align: left;
  .chosen-container-single .chosen-single {
    text-align: left;
    background: transparent;
    border: 1px solid transparent;
  }
}
.stats:before {
  content: "";
  position: absolute;
  width: 1280px;
  height: 1280px;
  top: -240px;
  background: #234053;
  background: -moz-radial-gradient(center, ellipse cover, #234053 0%, #0e1922 54%, #0d1720 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #234053 0%,#0e1922 54%,#0d1720 100%);
  background: radial-gradient(ellipse at center, #234053 0%,#0e1922 54%,#0d1720 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#234053', endColorstr='#0d1720',GradientType=1 );
  z-index: -1;
}
.stats {
  position: relative;
  overflow: hidden;
  .logo {
    display: inline-block;
    margin: 17px 0px 14px 40px;
  }
  .search_dropdown_wrap {
    height: 46px;
    vertical-align: top;
    margin: 28px 0px 20px 46px;
    display: inline-block;
    .search_dropdown {
      width: 262px;
    }
  }
  .states_dropdown_wrap, .cities_dropdown_wrap  {
    margin-left: 10px;
    margin-right: 0px;
    text-transform: uppercase;
    .chosen-container {
      width: auto !important;
    }
    .chosen-container .chosen-results li {
      /*white-space: nowrap;*/
    }
  }
  .states_dropdown_wrap {
    .chosen-drop {
      width: 190px;
    }
  }
  .cities_dropdown_wrap {
    .chosen-drop {
      width: 200px;
    }
  }

  .states_dropdown, .cities_dropdown {
    width: auto;
    /*width: auto;
    min-width: 164px;*/
  }
  .header {
    background: #111f2a;
  }
  .header .right {
    padding-right: 28px;
    padding-top: 30px;
  }
  .navigation {
    position: relative;
    background: #1c3549;
    border-top: 1px solid #5e7689;
    border-bottom: 1px solid #5e7689;
    .breadcrumbs {
      list-style: none;
      padding-left: 0px;
      display: table;
      height: 48px;
      .breadcrumb {
        display: table-cell;
        vertical-align: middle;
        position: relative;
        padding-left: 32px;
        padding-right: 6px;
        h3 {
          font-weight: 400;
          font-size: 15px;
          color: #abc4d6;
          display: inline-block;
          margin-right: 18px;
          line-height: 34px;
        }
        .countries_dropdown_wrap {
          display: inline-block;
          vertical-align: top;
          .countries_dropdown {
            width: 140px;
          }
        }
      }
      >:after, >:before {
        content: "";
        display: inline-block;
        border-width: 25px 0 25px 28px;
        border-style: solid;
        width: 0px;
        height: 0px;
        left: 100%;
        top: -1px;
        position: absolute;
        z-index: 1;
      }
      >:after {
        border-color: transparent transparent transparent #5e7689;
      }
      >:before {
        border-width: 23px 0 23px 26px;
        display: block;
        border-color: transparent transparent transparent #1c3549;
        z-index: 2;
        top: 1px;
      }
      >:not(.root):not(.active):before, :not(.root):not(.active):after {
        content: none;
      }
      .breadcrumb.root {
        padding-left: 100px;
        padding-right: 8px;
      }
      .breadcrumb.active {
        background: #3b5d79;
      }
      .breadcrumb.active:before {
        border-color: transparent transparent transparent #3b5d79;
      }
    }
    .goback {
      top: 1px;
      padding: 16px 18px 13px;
      position: absolute;
      z-index: 1;
    }
  }
  .content {
    padding: 14px 12px;

    .col1 {
      width: 202px;
      height: 621px;
      padding-right: 6px;
      .stats_info {
        width: 196px;
        background: rgba(157, 182, 202, 0.07);
        border-radius: 6px;
        text-align: center;
        .info {
          padding: 20px 0px;
        }
        .number {
          font-family: Lora;
          font-size: 30px;
          color: #abc4d6;
          margin-bottom: 10px;
          font-weight: 300;
        }
        .text {
          font-size: 11px;
          color: #abc4d6;
          margin-bottom: 50px;
          letter-spacing: 1px;
          opacity: 0.6;
        }
        .three_stars {
          display: inline-block;
          width: 48px;
          height: 15px;
          background: url(star.png), url(star.png), url(star.png);
          background-repeat: no-repeat, no-repeat, no-repeat;
          background-position: 0px top, 16px top, 32px top;
        }
        .sponsor_info {
          padding: 20px 0px 16px;
          .sponsored_by {
            color: #abc4d6;
            opacity: 0.5;
          }
          .sponsor {
            color: #abc4d6;
            letter-spacing: 0px;
            margin-bottom: 20px;
          }
        }
      }
    }
    .col2 {
      width: 1054px;
      padding-left: 6px;
      vertical-align: bottom;
      .map_view {
        position: relative;
      }
      .color_bars {
        width: 221px;
        padding: 10px 10px;
        border-radius: 5px;
        background: rgba(28, 53, 73, 0.27);
        position: absolute;
        right: 12px;
        bottom: 25px;
        .bar {
          border-radius: 5px;
          margin-bottom: 10px;
          padding: 7px 10px 6px;
          text-align: center;
          .outer, .inner {
            display: inline-block;
            border-radius: 50%;
          }
          .inner {
            width: 8px;
            height: 8px;
            position: absolute;
            top: 3px;
            left: 3px;
          }
          .outer {
            width: 16px;
            height: 16px;
            background: #fff;
            border: 1px solid #fff;
            position: relative;
            float: left;
          }
        }
        .title {
          color: #fff;
          font-size: 11px;
          font-weight: 500;
          display: inline-block;
          vertical-align: top;
          line-height: 16px;
        }
        .members {
          background: #02a1ce;
          .outer {
            border-color: #005784;
          }
          .inner {
            background: #005784;
          }
        }
        .scholars {
          background: #cf0435;
          .outer {
            border-color: #960202;
          }
          .inner {
            background: #960202;
          }
        }
        .alumni {
          background: #dd9f32;
          .outer {
            border-color: #be7000;
          }
          .inner {
            background: #be7000;
          }
        }
        .friends {
          background: #a101af;
          .outer {
            border-color: #7e0489;
          }
          .inner {
            background: #7e0489;
          }
        }
        .donations {
          background: #23b03a;
          .outer {
            border-color: #008616;
          }
          .inner {
            background: #008616;
          }
        }
        .partners {
          background: #7e909f;
          margin-bottom: 0px;
          .outer {
            border-color: #7e909f;
          }
          .inner {
            background: #7e909f;
          }
        }
      }
      .line_graph {
        .graph {
          display: inline-block;
          width: 32.666666666%;
          margin-right: 1%;
          height: 123px;
          background: rgba(157, 182, 202, 0.07);
          border-radius: 6px;
          .title {
            font-size: 11px;
            letter-spacing: 1px;
            font-weight: 400;
            text-align: center;
            padding: 12px 0px;
          }
        }
        .members .title {
          color: #01c0f6;
        }
        .scholars .title {
          color: #ff4040;
        }
        .scholarships {
          margin-right: 0px;
        }
        .scholarships .title {
          color: #23b03a;
        }
      }
    }
  }
}
