.dropdown.dd_style1 {
  font-family: Montserrat;
  letter-spacing: 0px;
  font-weight: 300;
  font-size: 15px;
  color: #abc4d6;
  .chosen-container-single .chosen-single {
    background: #152532;
    border: 1px solid #698295;
    outline: none;
    padding: 0px;
    box-shadow: inset 0px 0px 6px 1px rgba(105, 130, 149, 0.5);
    height: 46px;
    line-height: 44px;
    border-radius: 0px;
    font-weight: 300;
    font-size: 15px;
    color: #abc4d6;
    padding-left: 40px;
  }
  .chosen-container-single .chosen-single:before {
    content: "";
    position: absolute;
    width: 13px;
    height: 14px;
    top: 15px;
    left: 12px;
    background: url(asset_path('search_icon.png')) no-repeat;
  }
  .chosen-container-single .chosen-single div {
    right: 6px;
  }
  .chosen-container .chosen-results li.active-result {
    padding: 17px 20px 16px 40px;
  }
  .chosen-container-single .chosen-drop {
    background: #152532;
    border-radius: 0px;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 2px;
  }
}

.dropdown.dd_style2, .dropdown.dd_style3 {
  font-family: Montserrat;
  font-size: 13px;
  letter-spacing: 1px;
  text-align: center;
  .chosen-container-single .chosen-single {
    text-align: center;
  }
  .chosen-search input[type=text].chosen-search-input {
    background: url(asset_path("search_icon.png")) no-repeat !important;
    background-position: right 5px top 5px !important;
    color: #fff;
    font-family: Montserrat;
    font-weight: 300;
  }
}
.dropdown.dd_style3 {
  text-align: left;
  .chosen-container-single .chosen-single {
    text-align: left;
    background: transparent;
    border: 1px solid transparent;
  }
}
.stats:before {
  content: "";
  position: absolute;
  width: 1280px;
  height: 1280px;
  top: -240px;
  background: #234053;
  background: -moz-radial-gradient(center, ellipse cover, #234053 0%, #0e1922 54%, #0d1720 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #234053 0%,#0e1922 54%,#0d1720 100%);
  background: radial-gradient(ellipse at center, #234053 0%,#0e1922 54%,#0d1720 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#234053', endColorstr='#0d1720',GradientType=1 );
  z-index: -1;
}
.stats {
  position: relative;
  overflow: hidden;
  .logo {
    display: inline-block;
    margin: 17px 0px 14px 40px;
  }
  .search_dropdown_wrap {
    height: 46px;
    vertical-align: top;
    margin: 28px 0px 20px 46px;
    display: inline-block;
    .search_dropdown {
      width: 262px;
    }
  }
  .states_dropdown_wrap, .cities_dropdown_wrap  {
    margin-left: 10px;
    margin-right: 0px;
    text-transform: uppercase;
    .chosen-container {
      width: auto !important;
    }
    .chosen-container .chosen-results li {
      /*white-space: nowrap;*/
    }
  }
  .states_dropdown_wrap {
    .chosen-drop {
      width: 190px;
    }
  }
  .cities_dropdown_wrap {
    .chosen-drop {
      width: 200px;
    }
  }
  .states_dropdown, .cities_dropdown {
    width: auto;
    /*width: auto;
    min-width: 164px;*/
  }
  .header {
    background: #111f2a;
  }
  .header .right {
    padding-right: 28px;
    padding-top: 30px;
  }
  #map {
     position: absolute;
     top: 0px;
     bottom: 0px;
     width: 100%;
     height: 100%;
  }
  .navigation {
    position: relative;
    background: #1c3549;
    border-top: 1px solid #5e7689;
    border-bottom: 1px solid #5e7689;
    .breadcrumbs {
      list-style: none;
      padding-left: 0px;
      display: table;
      height: 48px;
      .breadcrumb {
        display: table-cell;
        vertical-align: middle;
        position: relative;
        padding-left: 32px;
        padding-right: 6px;
        h3 {
          font-weight: 300;
          font-size: 15px;
          color: #abc4d6;
          display: inline-block;
          margin-right: 12px;
          line-height: 34px;
        }
        .countries_dropdown_wrap {
          display: inline-block;
          vertical-align: top;
          .countries_dropdown {
            width: 140px;
          }
        }
      }
      >:after, >:before {
        content: "";
        display: inline-block;
        border-width: 25px 0 25px 28px;
        border-style: solid;
        width: 0px;
        height: 0px;
        left: 100%;
        top: -1px;
        position: absolute;
        z-index: 1;
      }
      >:after {
        border-color: transparent transparent transparent #5e7689;
      }
      >:before {
        border-width: 23px 0 23px 26px;
        display: block;
        border-color: transparent transparent transparent #1c3549;
        z-index: 2;
        top: 1px;
      }
      >.last:before, .last:after {
        content: none;
      }
      .breadcrumb.root {
        padding-left: 100px;
        padding-right: 8px;
      }
      .breadcrumb.active {
        background: #3b5d79;
      }
      .breadcrumb.active:before {
        border-color: transparent transparent transparent #3b5d79;
      }
    }
    .goback {
      top: 1px;
      padding: 16px 18px 13px;
      position: absolute;
      z-index: 1;
    }
  }
  .content {
    padding: 14px 12px;

    .col1 {
      width: 202px;
      height: 621px;
      padding-right: 6px;
      .stats_info {
        width: 196px;
        background: rgba(157, 182, 202, 0.07);
        border-radius: 6px;
        text-align: center;
        .info {
          padding: 20px 0px;
        }
        .number {
          font-family: Lora;
          font-size: 30px;
          color: #abc4d6;
          margin-bottom: 10px;
          font-weight: 300;
          min-height: 38px;
        }
        .text {
          font-size: 11px;
          color: #abc4d6;
          margin-bottom: 50px;
          letter-spacing: 1px;
          opacity: 0.6;
        }
        .three_stars {
          display: inline-block;
          width: 48px;
          height: 15px;
          background: url(star.png), url(star.png), url(star.png);
          background-repeat: no-repeat, no-repeat, no-repeat;
          background-position: 0px top, 16px top, 32px top;
        }
        .sponsor_info {
          padding: 20px 0px 16px;
          .sponsored_by {
            color: #abc4d6;
            opacity: 0.5;
          }
          .sponsor {
            color: #abc4d6;
            letter-spacing: 0px;
            margin-bottom: 20px;
          }
        }
      }
    }
    .col2 {
      width: 1054px;
      padding-left: 6px;
      vertical-align: bottom;
      position: relative;
      .map_view {
        position: absolute;
        top: -14px;
        left: 0px;
        width: calc(100% + 12px);
        height: calc(100% + 28px);
        z-index: 0;
        .member_cluster_icon {
          position: relative;
          border-radius: 50%;
          width: 100%;
          height: 100%;
          & * {
            border-radius: 50%;
            position: absolute;
          }
          .marker3 {
            background: rgba(2, 161, 206, 0.14);
          }
          .marker2 {
            background: rgba(2, 161, 206, 0.15);
          }
          .marker1 {
            background: rgba(2, 161, 206, 0.30);
          }
          .marker1:before {
            background: rgb(2, 161, 206);
          }
        }
        .scholar_cluster_icon {
          position: relative;
          border-radius: 50%;
          width: 100%;
          height: 100%;
          & * {
            border-radius: 50%;
            position: absolute;
          }
          .marker3 {
            background: rgba(214, 3, 3, 0.14);
          }
          .marker2 {
            background: rgba(214, 3, 3, 0.15);
          }
          .marker1 {
            background: rgba(214, 3, 3, 0.30);
          }
          .marker1:before {
            background: rgb(214, 3, 3);
          }
        }
        .marker1 {
          width: 28px;
          height: 28px;
          top: 8px;
          left: 8px;
        }
        .marker1:before {
          content: "";
          position: absolute;
          width: 10px;
          height: 10px;
          top: 9px;
          left: 9px;
          border-radius: 50%;
        }
        .marker2 {
          width: 44px;
          height: 44px;
          top: 7px;
          left: 7px;
        }
        .marker3 {
          background: rgba(2, 161, 206, 0.14);
          width: 58px;
          height: 58px;
          top: 0px;
          left: 0px;
        }
        .leaflet-div-icon {
          width: 58px !important;
          height: 58px !important;
          margin-top: -24px !important;
          margin-left: -24px !important;
          border: none;
          background: transparent;
        }
        .leaflet-div-icon > img {
          width: auto !important;
          height: auto !important;
        }
        .leaflet-bottom, .mapboxgl-ctrl-compass {
          display: none !important;
        }
        .leaflet-control-zoom {
          background: #1c3549;
          border-radius: 0px;
          width: 27px;
          border: 1px solid #5e7689;
          margin: 16px;
        }
        .leaflet-control-zoom > a {
          width: 100%;
          height: 30px;
          border-radius: 0px !important;
          color: #fff;
          font-size: 18px;
          display: block;
          border: 0px;
          margin: 0px;
          background-image: none;
          text-indent: 2px;
          text-align: center;
          line-height: 30px;
        }
        .leaflet-control-zoom > a:hover {
          background-color: rgba(0,0,0,0.18);
        }
      }
      .visual_info {
        position: absolute;
        width: 100%;
        bottom: 0px;
      }
      .color_bars {
        width: 221px;
        padding: 10px 10px;
        border-radius: 5px;
        background: rgba(28, 53, 73, 0.27);
        position: absolute;
        right: 12px;
        bottom: 152px;
        .bar {
          border-radius: 5px;
          margin-bottom: 10px;
          padding: 6px 10px 5px;
          text-align: center;
          cursor: pointer;
          .outer, .inner {
            display: inline-block;
            border-radius: 50%;
          }
          .inner {
            width: 8px;
            height: 8px;
            position: absolute;
            top: 3px;
            left: 3px;
          }
          .outer {
            width: 16px;
            height: 16px;
            background: #fff;
            border: 1px solid #fff;
            position: relative;
            float: left;
          }
        }
        .title {
          color: #fff;
          font-size: 11px;
          font-weight: 500;
          vertical-align: top;
          line-height: 16px;
        }
        .members {
          background: #02a1ce;
          .outer {
            border-color: #005784;
          }
          &.checked .inner {
            background: #005784;
          }
        }
        .scholars {
          background: #cf0435;
          .outer {
            border-color: #960202;
          }
          &.checked .inner {
            background: #960202;
          }
        }
        .alumni {
          background: #dd9f32;
          .outer {
            border-color: #be7000;
          }
          &.checked .inner {
            background: #be7000;
          }
        }
        .friends {
          background: #a101af;
          margin-bottom: 0px;
          .outer {
            border-color: #7e0489;
          }
          &.checked .inner {
            background: #7e0489;
          }
        }
        .donations {
          background: #23b03a;
          .outer {
            border-color: #008616;
          }
          &.checked .inner {
            background: #008616;
          }
        }
        .partners {
          background: #7e909f;
          margin-bottom: 0px;
          .outer {
            border-color: #7e909f;
          }
          &.checked .inner {
            background: #7e909f;
          }
        }
      }
      .line_graph {
        .graph {
          display: inline-block;
          width: 32.666666666%;
          margin-right: 1%;
          height: 123px;
          /*background: rgba(157, 182, 202, 0.07);*/
          background: #151f26;
          border-radius: 6px;
          .title {
            font-size: 11px;
            letter-spacing: 1px;
            font-weight: 400;
            text-align: center;
            padding: 12px 0px;
          }
        }
        .members .title {
          color: #01c0f6;
        }
        .scholars .title {
          color: #ff4040;
        }
        .scholarships {
          margin-right: 0px;
        }
        .scholarships .title {
          color: #23b03a;
        }
      }
    }
  }
}
.history {
  .header {
    padding: 0px 46px;
  }
}
.demographics {
  .header, .content {
    padding: 0px 46px;
  }
  .sliders {
    overflow: hidden;
    .slick-arrow {
      display: none !important;
    }
  }
}
.history, .demographics {
  overflow: hidden;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 1280px;
    height: 1280px;
    top: -240px;
    background: #234053;
    background: -moz-radial-gradient(center, ellipse cover, #234053 0%, #0e1922 54%, #0d1720 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #234053 0%, #0e1922 54%, #0d1720 100%);
    background: radial-gradient(ellipse at center, #234053 0%, #0e1922 54%, #0d1720 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#234053', endColorstr='#0d1720',GradientType=1 );
    z-index: -1;
  }
  .top_nav {
    text-align: left;
    padding: 41px 0px;
    .btn_group {
      display: inline-block;
      float: left;
    }
    .sub_nav {
      margin-left: 411px;
      text-align: center;
      .sublink {
        font-family: Montserrat;
        font-size: 15px;
        color: #6d889d;
        padding: 9px 5px 10px;
        position: relative;
      }
      .sublink.active, .sublink:hover {
        color: #ffffff;
      }
      .members_link {
        margin-right: 33px;
      }
      .members_link.active:before, .members_link:hover:before {
        content: "";
        width: 100%;
        height: 4px;
        background: #12a3ce;
        position: absolute;
        bottom: 0px;
        left: 0px;
      }
      .scholars_link {
        margin-left: 35px;
      }
      .scholars_link.active:before, .scholars_link:hover:before {
        content: "";
        width: 100%;
        height: 4px;
        background: #cf0435;
        position: absolute;
        bottom: 0px;
        left: 0px;
      }
      .divider {
        display: inline-block;
        width: 1px;
        height: 38px;
        background: #34424e;
        vertical-align: top;
      }
    }
    .link {
      width: 204px;
      font-size: 13px;
      font-family: Montserrat;
      color: #85a1b5;
      margin: 0px;
      padding: 10px 0px;
      position: relative;
      text-transform: uppercase;
      border: 1px solid #52738a;
      text-align: center;
      border-radius: 5px;
      background: #435d7b;
      background: -moz-linear-gradient(top, #435d7b 0%, #1e3449 100%);
      background: -webkit-linear-gradient(top, #435d7b 0%,#1e3449 100%);
      background: linear-gradient(to bottom, #435d7b 0%,#1e3449 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#435d7b', endColorstr='#1e3449',GradientType=0 );
      font-weight: 500;
      letter-spacing: 1px;
    }
    .history_link {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    .demographics_link {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      margin-left: -1px;
    }
    .link.active, .link:hover {
      background: #0d1b28;
      background: -moz-linear-gradient(top, #0d1b28 0%, #213247 100%);
      background: -webkit-linear-gradient(top, #0d1b28 0%,#213247 100%);
      background: linear-gradient(to bottom, #0d1b28 0%,#213247 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d1b28', endColorstr='#213247',GradientType=0 );
      color: #a1ceee;
    }
  }
  .content {
    height: 600px;
    .featured_col {
      display: inline-block;
      width: 667px;
      vertical-align: top;
    }
    .right_col {
      display: inline-block;
      width: 310px;
      vertical-align: top;
      .right_section {
        padding: 70px 34px 0px;
      }
      .year_mark {
        width: 60px;
        height: 60px;
        font-family: Lora;
        font-size: 20px;
        color: #ffffff;
        background: #bb2540;
        border-radius: 50%;
        position: absolute;
        top: -14px;
        text-align: center;
        line-height: 60px;
      }
      .notes {
        .title {
          font-family: Montserrat;
          color: #992a3e;
          font-size: 18px;
          text-transform: uppercase;
          margin-bottom: 28px;
        }
        .text {
          font-family: Lora;
          font-size: 13px;
          color: #1a1a1a;
          margin-bottom: 20px;
          line-height: 1.52em;
        }
      }
    }
    .charts_content {
      height: 550px;
    }
    .col {
      margin: 0px 6px;
      width: calc(50% - 12px);
      height: 100%;
      border-radius: 6px;
      background: rgba(157, 182, 202, 0.1);
    }
    .row {
      height: calc(50% - 6px);
      margin: 0px -6px;
    }
    .row1 {
      margin-bottom: 12px;
    }
  }

}

.timeline {
  border-top: 1px solid #5e7689;
}
.sliders {
  .slick-list {
    overflow: visible;
  }
}
.slick-dots {
  bottom: -45px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
  padding: 15px 0px 15px;
  li {
    border-bottom: 2px solid #57778b;
    position: relative;
    width: 144px;
    height: 10px;
    margin: 0px;
    display: inline-block;
    cursor: pointer;
    .slick-dot {
      font-family: Montserrat;
      font-size: 13px;
      padding-top: 32px;
      color: #fff;
      width: 72px;
      position: relative;
      &:before {
        content: "";
        border-left: 1px solid #57778b;
        height: 20px;
        position: absolute;
        top: 1px;
        left: 36px;
      }
    }
  }
  li:first-child {
    width: 72px;
    .slick-dot {
      margin-left: -72px;
    }
  }
  li:last-child {
    width: 72px;
    .slick-dot {
      padding-left: 36px;
    }
    .slick-dot:before {
      left: 72px;
    }
  }
  li.slick-active .slick-dot:before {
    content: "";
    width: 23px;
    height: 23px;
    background: #fff;
    border-radius: 50%;
    border: 3px solid #1c3549;
    top: -4px;
    left: 21px;
  }
  li.slick-active:last-child .slick-dot:before {
    left: 57px;
  }
}
.chart_wrapper {
  .chart_for_members .bar, .chart_for_members .donut-chart {
    background: #02a1ce;
  }
  .chart_for_scholars .bar, .chart_for_scholars .donut-chart {
    background: #cf0435;
  }
  .chart_for_scholars.donut .slice.one, .chart_for_scholars.donut .slice.two {
    background: #ff6565;
  }
  .title {
    font-family: Montserrat;
    font-size: 13px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0px;
    letter-spacing: 1px;
  }
  .chart_text {
    font-size: 13px;
    color: #fff;
    font-family: Montserrat;
    vertical-align: middle;
    padding: 0px 50px;
  }
  .donut {
    background: transparent;
    display: inline-block;
    .card {
      float: left;
      padding: 20px;
      margin-top: 12px;
    }
    .donut-chart {
      position: relative;
      border-radius: 50%;
      overflow: hidden;
      width: 120px;
      height: 120px;
      margin: 0 auto;
    }
    .slice {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .slice.one {
      clip: rect(0 120px 60px 0);
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      background: #7de1fe;
    }
    .slice.two {
      clip: rect(0 60px 120px 0);
      background: #7de1fe;
    }
    .chart-center {
      position: absolute;
      border-radius: 50%;
      top: 30px;
      left: 30px;
      width: 60px;
      height: 60px;
      background: #233441;
    }
  }
  .hbar_chart {
    .card {
      margin-bottom: 15px;
    }
    .chart_text {
      display: inline-block;
      padding: 0px;
      line-height: 19px;
      &.one {
        padding-right: 18px;
        text-align: right;
        min-width: 70px;
        margin-left: 40px;
      }
      &.two {
        padding-left: 18px;
      }
    }
    .bar_wrap {
      display: inline-block;
      width: 220px;
      background: #4d5861;
      border-radius: 5px;
      overflow: hidden;
      vertical-align: top;
      .bar {
        height: 19px;
        transition:color 1.25s ease;
        position: relative;
        //animation: 1.5s ease-out 0.5s 1 slideInFromLeft;
      }
      .bar:after {
        position: absolute;
        content: '';
        top:0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: white;
        transform-origin:left;
        transition:width 1.25s ease;
        z-index:-1;

      }
      .bar:hover:after{
        width: 100%;
      }
    }
  }
  .bar_chart {
    height: 190px;
    display: table;
    margin: 0 auto;
    .card {
      display: table-cell;
      vertical-align: bottom;
      .bar {
        width: 33px;
        margin: 0px 13px;
      }
    }
    .chart_text {
      padding: 0px;
      text-align: center;
      &.one {
        margin-bottom: 10px;
      }
      &.two {
        margin-top: 10px;
      }
    }
  }

}
.gender_chart {
  text-align: center;
}
.ethnicity_chart {
  .hbar_chart {
    padding-top: 24px;
  }
}
.industry_chart {
  .hbar_chart .chart_text.one {
    margin-left: 80px;
  }
}
